div {
    margin: auto;
    width: 20%;
}

table {
    font-size: 20px;
}

td {
    width: 30px;
    border: 1px solid;
    text-align: center;
}

/* the following makes every 3rd column separate from the following column */
td:nth-child(3n) {
    border-right: 6px solid rgba(0, 88, 102, 0.463);
}


tr {
    border-bottom: 4px solid rgb(0, 0, 0);

}

tr:nth-child(2n) td {
    background-color: rgba(0, 88, 102, 0.192);
}

/* the following makes every 3rd row separate from the following row */
tr:nth-child(3n) td {
    border-bottom: 6px solid rgba(0, 88, 102, 0.463);
}

/* set up css for input tags, so that they match width of normal cells */
input {
    width: inherit;
    background-color: inherit;
    all: inherit;
    border: none;
}



/* notes here ****************************************
 useful links to style the table and page
 - https://stackoverflow.com/questions/23497444/how-to-make-a-sudoku-grid-using-html-and-css
 
*/